<<<<<<< Updated upstream
.div {
    width: 300px;
    border: 15px solid rgb(3, 255, 3);
    padding: 50px;
    margin: 20px;
  }
=======






.fondo{
    background-color: rgb(200,175,253);
}
>>>>>>> Stashed changes
