<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link type="text/css" rel="stylesheet" href="{% static 'menu/css/estilos.css' %}">
</head>
<body>
    <div class="div">
        <section>
        <label>Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
        <label>Apellido:</label>
        <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido">
        <label>Rut:</label>
        <input type="text" name="rut" id="rut" placeholder="Ingrese su rut">
        <label>Correo electronico:</label>
        <input type="text" name="correo" id="correo" placeholder="Ingrese su correo electronico">
    </section>
    </div>
    
    
</body>
</html>